.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}
.cart-heading-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remove-all-btn {
  border: none;
  background-color: transparent;
  color: #0b69ff;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */
.checkoutBtn {
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  width: 100%;
}
.amount {
  font-weight: bold;
}
.totalIncome {
  width: 200px;
  text-align: left;
}
.incomeContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.incomePara {
  font-family: 'Roboto';
  font-weight: 400;
  color: #616e7c;
}
.itemsPara {
  font-size: 10px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #616e7c;
}
